* {
  box-sizing: border-box;
  color: #FEF77B;
  font-family: "Passero One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(
    to right,
    #E260E5,
    black
  ); /* Light gradient */
  color: #333;
  line-height: 1.6;
  margin: 0;
  text-align: center; /* Center aligns text and inline elements like images */
}

nav {
  display: flex;
  flex-direction: column;
}
.nav__img-container {
  text-align: start;
  padding-left: 3rem;
}
.nav__logo {
  height: 20rem;
  padding-top: 3rem;
}
.nav__title {
  font-size: 2rem;
  color: white;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.player-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.player-select__color {
  color: black;
}

header {
  background-color: #0056b3; /* Updated background color for header/title */
  color: #ffffff;
}

header h1 {
  margin: 0;
}

.instructions {
  color: white;
  width: 200px;
}

section p {
  font-weight: bold; /* Makes the instructions bold */
}

.player-name-container {
  text-align: center; /* Ensures the label and select dropdown are centered together */
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 0rem;
  font-weight: bold; /* Makes the label text bold */
}

select {
  display: inline-block; /* Adjusted for inline display */
  max-width: 250px; /* Sets the maximum width of select dropdown */
  padding: 10px;
  margin-top: 0.5rem; /* Adds a little space above the select dropdown */
  font-size: 16px;
  border: 2px solid #ccc; /* Slight border added */
  border-radius: 5px;
  width: 100%; /* Ensures the select dropdown expands to max-width */
  margin: auto;
  color: black;
}



.player__caption {
  display: flex;
  max-width: 50%;
}

.vote__player {
  width: 50%;
}

iframe {
  max-width: 100%;
  height: 19rem;
}

.gif img {
  width: auto;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  display: block; /* Makes img a block-level element */
  margin: 0 auto; /* Centers the image */
  margin-bottom: 0.5rem; /* Adds padding between the GIF and the comment label */
  object-fit: contain;
  overflow: none;
}

button {
  background-color: #be1afa; /* Matching the header/title background color */
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: 3px groove black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block; /* Ensure the button is block-level for centering */
  margin: 20px auto; /* Center the button and add spacing */
}

.initializeGameButton {
  background-color: white;
  color: #0056b3;
}

button:hover {
  background-color: #004094; /* Slightly darker shade for hover effect */
}

.button-style {
  display: inline-block;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.comment-wrapper {
  display: flex;
  justify-content: center;
}

.landing-page {
  background-color: rgba(0,0,0, 0.8);
  color: #ffffff;
  padding-bottom: 10rem;
  flex-direction: row;
}

.landing-page__img {
  width: 100%;
}
.landing-page__paragraph {
  font-size: 24px;
  font-family: 'Passero One', cursive;
  max-width: 500px;
  display: inline-block;
  padding: 1rem;
}

#initializeGameButton {
  font-family: 'Passero One', cursive;
  background-color: #be1afa;
  transition: transform 0.3s ease;
  color: white;
}

#initializeGameButton:hover {
  background-color: #004094; /* Slightly darker shade for hover effect */
}

#landing-page__init-game:hover {
  transform: scale(1.1); 
}


.input__text {
  width: 18rem;
  height: 2rem;
  color: black;
  font-weight: bold;
}

.vote__results-btn {
  margin: 10rem auto;
}

.gif {
  margin-bottom: 20px;
}

.gif__container {
  border: 5px groove #E9FDFF;
  margin: 1rem auto;
  padding: 0 1rem;
  width: 100%;
  max-width: 30rem;
  border-radius: 80px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.6);
}

.results {
  padding: 1rem 0;
}

.results__winner {
  font-size: 3rem;
  padding: 0;
}

.results__winner--player {
  font-size: 4rem;
  padding-bottom: 2rem;
}

.footer {
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin-top: 10rem;
}

#footer__btn {
  font-family: 'Passero One', cursive;
  background-color: #be1afa;
  transition: transform 0.3s ease;
}

.footer__github-container {
  display: flex;
  justify-content: center;
}

.footer__github-text {
  font-size: 1.5rem;
  color: white;
  padding-right: 0.5rem;
}

.footer__github-icon {
  font-size: 36px;
  color: white;
}

.footer__btn:hover {
  transform: scale(1.1);
}